//colores
$primary:#404040;
$secondary:#CBCBCB;
$lightGray:#EAEDED;
$creamGray:#e5ede1;
$whiteBackGround:#fbfbfb;
$gray:#85929E;
$darkGray:#2C3E50;
$red:#D82D2F;
//fuentes
$primaryFont:'Noto Sans', sans-serif;